@import "./details.css";

body,
button,
input,
select,
textarea {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

body {
    background-color: darkorange;
}

